.link{
    text-decoration: none !important;
    padding-left: 12px;
    
}
@media screen and (max-width: 991px) {
  .link {
  padding-top: 10px;
  }
}
    
Nav{
  display: flex;
}
.link:link {
        color: gray !important;
      }
      
      /* visited link */
      .link:visited {
        color: gray !important;
      }
      
      /* mouse over link */
      .link:hover {
        color: rgb(255, 255, 255) !important;
        text-decoration: underline !important;
      }
      
      /* selected link */
      .link:active {
        color: white !important;
        text-decoration: none !important;

      }
